@model TheoryOfPoltaran.ViewModels.DevBlogDataViewModel
@{
    ViewData["Title"] = "ДевБлог";
}
<link rel="stylesheet" href="~/lib/bootstrap-social-5.1.1/bootstrap-social.css" />
<link rel="stylesheet" href="~/lib/bootstrap-social-5.1.1/assets/css/font-awesome.css" />
<link rel="stylesheet" href="~/lib/simplePagination/simplePagination.css" />
<link rel="stylesheet" href="~/lib/sweetalert/dark.css" />
<div>
    @if (Model.IsAdmin)
    {
        <template id="my-template">
            <swal-title>
                Вы точно хотите удалить?
            </swal-title>
            <swal-icon type="warning" color="red"></swal-icon>
            <swal-button type="confirm">
                Подтвердить
            </swal-button>
            <swal-button type="cancel">
                Отмена
            </swal-button>
            <swal-param name="allowEscapeKey" value="false" />
            <swal-param name="customClass"
                        value='{ "popup": "my-popup" }' />
        </template>
    }
    <h1 style="text-align:center;">Дневник разработки</h1>
    @if (Model.Publications.Count == 0) Html.Raw("<h2 style=\"text - align:center; \">На данный момент постов нет</h2>");
    @foreach (var post in Model.Publications)
    {
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-10 card-title">@post.Title</h5>
                    @if (Model.IsAdmin)
                    {
                        <a value="@post.Id" class="deleteBtn btn btn-social-icon btn-social btn-danger"><i class="fa fa-trash-o"></i></a>
                    }

                </div>
                <h6 class="card-subtitle mb-2 text-muted">@post.Date.ToLongDateString()</h6>
                <p class="card-text">@post.Description</p>
                <a asp-action="Details" asp-route-id="@post.Id" class="card-link link-danger">Подробнее</a>
                @*<a href="#" class="card-link">Another link</a>*@
            </div>
        </div>
    }
    <div class="w-100 mx-auto" style="text-align: center; margin-bottom: 20px">
        <div id="light-pagination" class="pagination position-absolute start-50 translate-middle" style="margin-top: 50px;"></div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/simplePagination/jquery.simplePagination.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert2.min.js"></script>
    @if (Model.IsAdmin)
    {
        <script type="text/javascript">
            $('.deleteBtn').click(async function () {
                const { value: confirmed } = await Swal.fire({
                    template: '#my-template'
                });
                if (confirmed) {
                    axios.post('DevBlog/Delete?id=' + $(this).attr('value'))
                        .then(function (response) {
                            location.reload();
                        })
                    
                }
            });
        </script>
    }
    <script type="text/javascript">
    $('#light-pagination').pagination({

        pages: @Model.TotalPages,

        displayedPages: 5,
        edges: 2,
        useStartEdge: true,
        useEndEdge: true,
        currentPage: @Model.CurrentPage,
        useAnchors: true,
        hrefTextPrefix: "#page-",
        hrefTextSuffix: '',
        prevText: "&laquo;",
        nextText: "&raquo;",
        ellipseText: '&hellip;',
        ellipsePageSet: true,

        // list style
        listStyle: '',

        // The class of the CSS theme:
        // "light-theme", "compact-theme", and "dark-theme"
        cssStyle: "dark-theme",

        // Set to false if you don't want to select the page immediately after click.
        selectOnClick: true,

        // Next button at front.
        nextAtFront: false,

        // Inverts page order
        invertPageOrder: false,
        onPageClick: function (pageNumber, event) {
            window.location.href = "devblog?pg=" + pageNumber;
        }

    });
    </script>
}